*{
    margin: 0; padding: 0; box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

html, body{
    height: 100%; width: 100%;
    background-color: rgb(82, 184, 243);
    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
    height: 500px; width: 300px;
    background-color: aliceblue;
    border-radius: 10px;
    border: 1px solid black;
    position: relative;
}

.stories{
    height: 120px; width: 100%;
    padding: 20px;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

.stories::-webkit-scrollbar{
    display: none;
}

.story{
    height: 75px; width: 75px;
    background: linear-gradient(rgb(247, 196, 29), orange, rgb(223, 49, 78), purple, blue);
    border-radius: 50%;
    padding: 4px;
    overflow: hidden;
    display: inline-block;
    margin-right: 5px;
}

.story img{
    height: 100%; width: 100%;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.full-screen{
    height: 100%; width: 100%;
    background-size: cover;
    background-position: center;
    position: absolute;
}